<div style="text-align: center;">
<p style="color: green"><%= notice %></p>

<h2>Images</h2>
<%= render @post %>
  <div>
    <%= @post.content %>
  </div>


<div>
  <%= link_to "Back to posts", posts_path %>

<% if admin_signed_in? %>

  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= button_to "Destroy this post", @post, method: :delete %>

<% end %>
</div>
</div>
